<!DOCTYPE html>
<html>
<head>
	<title>shopping</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>



<script>
	var app = angular.module('myApp',[]);
	app.controller('myCtlr',function ($scope) {
		// console.log($scope)
		$scope.products = ['a','b','c','d'];
	

$scope.addItem = function(){
    $scope.errortext = '';

	if(!$scope.addMe){
		return;
	}

    var errortext = '';
	if($scope.products.indexOf($scope.addMe) == -1){
     $scope.products.push($scope.addMe);
	}else{
		$scope.errortext = 'item exists'
	}
	
}

$scope.removeItem = function(x){
    $scope.errortext = '';
$scope.products.splice(x,1);
}

	});

</script>


<div ng-app="myApp" ng-controller="myCtlr">
	<ul>
		<li ng-repeat="x in products">
			{{x}} <span style="cursor:pointer;" ng-click="removeItem($index)"> - remove</span>
		</li>
	</ul>
	<input type="text" name="" ng-model="addMe" placeholder="add items">
	<button ng-click="addItem()">Add</button>
	<p>{{errortext}}</p>
</div>

</body>
</html>