<!DOCTYPE html>
<html>
<head>
	<title>Hangman app</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="myapp" ng-controller="myctrl">

<div>
     <div>You have to guess: {{displayWord}}</div>
</div>

<div>
	<div>
		<input type="text" name="guess" ng-modal="input.letter">
		<button ng-click="letterChose()">submit</button>
	</div>
</div>


</body>
</html>